html, body{
  margin: 0;
}

#container {
    width: 100%;
}

/* navbar */

.navbar {
  margin: 0 auto;
  display: block;
  width: 60%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    background-color:#2C001E;
    width: 180px;
    text-decoration: none;
    text-align: center;
    color:#b9b9b9;
    font-family: sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height: 50px;
    float: left;
    padding: 20px;
}

.navbar li a:hover {
    background-color:#561345;
    color: #77216F;
    transition: all 1.00s;
}

#lg{
  margin: 0;
  padding: 0;
}
