html, body{
  margin: 0;
}

#container {
    width: 100%;
}

/* navbar */

.navbar {
  margin: 0 auto;
  display: block;
  width: 60%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    background-color:#2C001E;
    width: 180px;
    text-decoration: none;
    text-align: center;
    color:#b9b9b9;
    font-family: sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height: 50px;
    float: left;
    padding: 20px;
}

.navbar li a:hover {
    background-color:#561345;
    color: #77216F;
    transition: all 1.00s;
}

#lg{
  margin: 0;
  padding: 0;
}


/*sidebar*/

body{
  margin: 0;
  padding: 0;
}

.sidebar ul{
  list-style: none;
}

.sidebar ul a{
  width: 200px;
  padding: 30px 10px;
  display: block;
  background-color: #2C001E;
  text-align: center;
  font-size: 20px;
  float: none;
  font-weight: 400;
  text-decoration: none;
  color: #b9b9b9;

}
.sidebar li a:hover{
    background-color: #561345;
    transition: all 0.50s;
    color:#77216F;
}
#top {
  text-align: center;
  width: 20px
  padding: 30px 10px;
  font-size: 25px;
  float: none;
  color: black;
}
#top2 {
  width: 200px;
  padding: 10px 10px;
  display: block;
  background-color: lightblue;
  text-align: center;
}
