html, body{
  margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width : 1200px; 
}

/* Grid System */

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}
.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}

@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }
}

.row {
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 550px) {
    .row {
        margin-bottom: 0;
    }
    .column {
        margin-bottom: 10px;
    }
    .row:last-child .column:last-child {
        margin-bottom: 0;
    }
}

/* End grid */

/* navbar */

.navbar {
  margin: 0 auto;
  display: block;
  width: 60%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    background-color:#2C001E;
    width: 180px;
    text-decoration: none;
    text-align: center;
    color:#b9b9b9;
    font-family: sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height: 50px;
    float: left;
    padding: 20px;
}

.navbar li a:hover {
    background-color:#561345;
    color: #77216F;
    transition: all 1.00s;
}

#lg{
  margin: 0;
  padding: 0;
}


/*sidebar*/

.sidebar ul{
  list-style: none;
}

.sidebar ul a{
  width: 200px;
  padding: 30px 10px;
  display: block;
  background-color: #2C001E;
  text-align: center;
  font-size: 20px;
  float: none;
  font-weight: 400;
  text-decoration: none;
  color: #b9b9b9;

}
.sidebar li a:hover{
    background-color: #561345;
    transition: all 0.50s;
    color:#77216F;
}
#top {
  text-align: center;
  width: 20px
  padding: 30px 10px;
  font-size: 25px;
  float: none;
  color: black;
}
#top2 {
  width: 200px;
  padding: 10px 10px;
  display: block;
  background-color: lightblue;
  text-align: center;
}
